
name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'
        cache: maven
    
    - name: Run tests
      run: mvn test
      
    - name: Run PMD analysis
      run: mvn pmd:pmd
      
    - name: Check PMD results
      run: mvn pmd:check
      
    - name: Build with Maven
      run: mvn -B package --file pom.xml
